# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\IdeaProjects\flink-test\flink-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
